#errorFallback {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}
#errorFallback > .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: black;
    margin-bottom: 15px;
  }

#errorFallback > .errorlinks {
    text-align: center;
    margin:10px;
    padding: 10px;
}
#errorFallback > .errorlinks > p {
  margin:10px;
}

a.errorlink {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
a.errorlink:hover {
  text-decoration: underline;
}

#errorFallback > table, tr, th, td {
  padding: 5px;
}
#errorFallback > table {
  margin-top: 10px;
}

#errorFallback > table, tr {
  border: 1px solid #ccc;
}

#errorFallback > th {
  font-weight: bold;
  vertical-align: top;
}

.hide:hover, .show:hover {
  text-decoration: underline;
}

.fullErrorMessage,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .fullErrorMessage {
  display: block;
}