.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.link {
    display: block;
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-2));
    font-size: var(--mantine-font-size-sm);
    font-weight: 800;
  
    @mixin hover {
      text-decoration: none;
      background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    }
  }
  
  .active {
    background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-blue-9));
    color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-1));
  }